/*setting up grid layout*/
header {
  max-height: 10vh;
  text-align: left;
  font-size: 2vw;
  padding: 1%;
}
main {
  grid-area: bio;
  text-align:center;
  font-size: 2vw;
  padding-bottom: 7%;
}
nav {
  grid-area: nav;
  max-height: 40vh;
  width: 100vw;
  display: inline-block;
  padding-left: 25vw;
  justify-content: center;
}
footer {
  font-size: 0.9vw;
  text-align: center;
  padding-top: 7%;
}
.grid-container {
  display: grid;
  grid-template:  
  'header'
  'nav'
  '. main main main .'
  '. main main main .'
  'footer';
  justify-items: center;
  grid-gap: 10px;
  padding: 10px;
}
