/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.App {
  text-align: center;
}

button {
  margin: 3vw;
  padding: 1vw;
}

.h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000; /* Ensures it stays above other content */
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


section {
  padding-bottom: 1%;
}
nav {
  justify-content: center;
}

/* Hide both by default and only show after media querey */
.desktop-layout {
  display: grid;
}

.mobile-layout {
  display: grid;
  grid-template:  
  'h1 nav'
  '. section'
  'footer footer';
  justify-items: center;
  grid-gap: 10px;
  padding: 10px;
}

/* Media Queries for Different Screen Sizes, don't ask how I did this, Blood Sweat and Tears*/
@media (min-width: 768px) {
  .desktop-layout {
    display: grid; /* Show desktop layout for screens wider than 768px */
  }
  .mobile-layout {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-layout {
    display: grid; /* Show mobile layout for screens narrower than 768px */
  }
  .desktop-layout {
    display: none;
  }
}

/* Hamburger Menu Styles */
.hamburger-menu {
  position: relative;
  display: inline-block;
  margin: 10%;
}

.hamburger-icon {
  font-size: 220%;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 70%; /* Adjust to the height of the button */
  left: -150%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10%;
  border-radius: 10%;
  z-index: 0;
  width: 150px; /* Adjust width as needed */
}

.menu-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #f0f0f0;
  width: 85%;
  border-radius: 10%;
}
