/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.App {
  text-align: center;
}

button {
  padding: 5px 10px; /* Reduced padding for a thinner look */
  margin: 3px;
  font-size: 12px;   /* Adjusted font size */
  border: 1px solid #ccc; /* Optional: Add a border to make it look sharper */
  background-color: #f0f0f0; /* Optional: Background color */
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 24%;
  background-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
  padding: 1%;
  z-index: 1000; /* Ensures it stays above other content */
}

.button-container {
  display: flex;
  justify-content: center; /* This spreads the buttons evenly */
}

section {
  padding-bottom: 1%;
}

h1 {
  font-size: 5vh;
}

/* Hide both by default and only show after media querey */
.desktop-layout {
  display: grid;
}

.mobile-layout {
  display: grid;
  grid-template:  
  'h1 .'
  'nav'
  '. section'
  'footer footer';
  justify-items: center;
  grid-gap: 10px;
  padding: 10px;
}

/* Media Queries for Different Screen Sizes, don't ask how I did this, Blood Sweat and Tears*/
@media (min-width: 768px) {
  .desktop-layout {
    display: grid; /* Show desktop layout for screens wider than 768px */
  }
  .mobile-layout {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-layout {
    display: grid; /* Show mobile layout for screens narrower than 768px */
  }
  .desktop-layout {
    display: none;
  }
}